AUTH_SERVICE_URL=http://your_auth_service_host:your_auth_service_port
ZOHO_BASE_URL=https://projectsapi.zoho.in/restapi

# Must match auth-service JWT config exactly
JWT_SECRET=your_jwt_access_secret_here
JWT_ALGORITHM=your_jwt_algorithm_here_e.g_HS256
